:root {
  --main-font: "Montserrat", sans-serif;
  --secondary-font: system-ui;
}

body {
  overflow-x: hidden;
  font-family: var(--main-font);
}

.section__spec-information {
  height: 250vh;
  padding: 120px 235px;
  background-color: white;
}

.specFirstColumn,
.specSecondColumn {
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
}

.colorOption {
  position: sticky !important;
  top: 0 !important;
  z-index: 99 !important;
  position: -webkit-sticky;
  height: 10px;
}

.pinkOption {
  width: 38px;
  height: 38px;
  margin: 5px;
  background-color: #faddd7;
  border-radius: 50px;
  outline: 1px solid #0071e3;
  border: 4px solid white;
}

.blueOption,
.blackOption,
.silverOption,
.redOption {
  width: 38px;
  height: 38px;
  margin: 5px;
  border-radius: 50px;
  margin-top: 14px;
  transition: 0.6s;
}

.selected {
  border: 3px solid white;
  outline: 3px solid blue;
  box-shadow: 0px 0px 15px 5px rgba(0, 7, 255, 0.59);
}

.colorOption :nth-child(2) {
  background-color: #276787;
}

.colorOption :nth-child(3) {
  background-color: black;
}

.colorOption :nth-child(4) {
  background-color: #faf6f2;
}

.colorOption :nth-child(5) {
  background-color: #bf0013;
}

.newPinkFinish {
  width: 426px;
  height: 560px;
  border-radius: 30px;
  background-color: #35283c;
  background-image: url("https://www.apple.com/v/iphone-13/c/images/overview/design/pink_finish__f0iydhc82r2a_large.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  padding: 36px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.15;
  transition: 0.6s;
}

.newPinkFinish span:nth-child(1) {
  color: #fec2eb;
}

.ceramicShield {
  position: relative;
  width: 526px;
  height: 560px;
  border-radius: 30px;
  background-color: #35283c;
  font-size: 40px;
  padding: 36px;
  line-height: 1.1;
  font-weight: 500;
  color: white;
  background-repeat: no-repeat;
  background-position: top right;
  background-image: url("https://www.apple.com/v/iphone-13/c/images/overview/design/pink_ceramic_shield__dnqj5p4xc3e6_large.jpg");
  transition: 0.6s;
}

.ceramicShield img {
  position: absolute;
  bottom: 35%;
  left: 7%;
}

.ceramicShield span {
  color: #fec2eb;
}

.ceramicShield h4 {
  transform: translate(0px, 360px);
}

.specSecondColumn {
  margin-top: 24px;
  margin-left: 75px;
  height: 1200px;
}

.specSizes {
  position: relative;
  width: 650px;
  height: 850px;
  border-radius: 30px;
  background-color: #35283c;
  padding: 70px 60px;
  color: white;
  transition: 0.6s;
}

.specWater {
  width: 650px;
  height: 200px;
  border-radius: 30px;
  background-color: #35283c;
  margin-left: 75px;
  transform: translateY(-328px);
  background-image: url("https://www.apple.com/v/iphone-13/c/images/overview/design/water_resistant_pink__bji03pcves5e_large.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.specDurable {
  position: relative;
  width: 320px;
  height: 1074px;
  border-radius: 30px;
  padding: 60px;
  background-color: #35283c;
  background-image: url("https://www.apple.com/v/iphone-13/c/images/overview/design/pink_flat_edge__fnclx6jpolm6_large.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: white;
  transition: 0.6;
}

.specDurable {
  text-align: center;
}

.specDurable h3 {
  font-size: 40px;
  font-weight: 600;
}

.specDurable span {
  color: #fec2eb;
}

.specSizesTogether {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.specSizes13 h3 {
  font-size: 28px;
  margin-bottom: 24px;
}

.specSizesMini {
  transform: translateY(15px);
}

.specSizesMini h3 {
  font-size: 22px;
  transform: translateY(15px);
}

.specSizesTogether img {
  margin-bottom: 30px;
}

.specSizesTogether strong {
  font-size: 40px;
  color: #fec2eb;
}

.specSuper {
  text-align: center;
  font-size: 26px;
  line-height: 1.1428571429;
  font-weight: 600;
  margin-top: 20px;
  /* letter-spacing: 0.007em; */
}

.section__huge-camera {
  position: relative;
  padding-top: 500px;
  height: 185vh;
  background-color: #35283c;
  color: white;
  padding: 150px 270px;
  overflow: hidden;
}

.section__huge-camera h3 {
  font-size: 110px;
  line-height: 1;
  font-weight: 600;
  padding-top: 20px;
}

.section__huge-camera span {
  color: #fec2eb;
}

#howdidImage {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#thinking {
  position: absolute;
  color: black;
  font-size: 25px;
  font-weight: 600;
  bottom: 24%;
  left: 44%;
}

.section-cameragallery {
  padding-top: 250px;
  font-weight: 600;
  background-color: #2e2e3a;
  font-family: var(--secondary-font);
  line-height: 1.2;
  position: relative;
}

.firstCmrg {
  font-size: 70px;
  color: white;
  padding: 0px 270px;
}

.firstCmrg span {
  color: #72e5ce;
}

.firstCmrg p {
  font-size: 45px;
  margin-top: 170px;
  text-align: right;
}

.firstCmrg img {
  position: absolute;
  right: 16%;
}

.secondCmrg {
  margin-top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdCmrg {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thirdCmrgText {
  color: white;
  font-size: 16px;
  margin-right: 100px;
  transform: translateX(-50px);
}

.thirdCmrgText span {
  color: #72e5ce;
}

.fourthCmrg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
}

.fifthCmrg {
  margin: 0px 5%;
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fifthCmrgLeft {
  font-size: 15px;
  color: white;
}

.fifthCmrgLeft p {
  font-size: 15px;
  color: white;
  transform: translate(120px, 80px);
}

.fifthCmrgLeft span {
  color: #72e5ce;
}

.fifthCmrgRight {
  transform: translateY(430px);
}

.sixthCmrg {
  margin-top: 28%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 83%;
}

.sixthCmrg img {
  width: 100%;
}

.sixthCmrg p {
  color: white;
  font-size: 15px;
  margin-top: 80px;
  margin-left: 130px;
}

.sixthCmrg span {
  color: #72e5ce;
}

.seventhCmrg {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eighthCmrg {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: 500px;
  color: white;
}

.eighthCmrg span {
  color: #72e5ce;
}

.ninethCmrg {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tenCmrg {
  margin-left: 270px;
  margin-top: 5%;
  font-size: 15px;
  color: white;
}

.tenCmrg span {
  color: #72e5ce;
}

.testFinal {
  position: relative;
}

.finalCmrg {
  margin-top: 8%;
  text-align: center;
  position: relative;
  width: 100vw;
}

#final1 {
  width: 95%;
  height: 690px;
  margin-top: 15px;
  border-radius: 95px;
}

#final2 {
  position: absolute;
  top: -1%;
  left: 0;
  width: 100vw;
}

.finalCmrg3 {
  text-align: center;
  width: 100vw;
  transition: 0.3s;
}

#final3 {
  position: absolute;
  top: 5.7%;
  left: -35%;
  width: 170%;
  z-index: -5;
}

.endCmrg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  transform: translate(200px, -250px);
  z-index: -10;
}

.endCmrg span {
  color: #72e5ce;
}

.section-aCamera {
  background-color: white;
}

.firstaCamera {
  font-size: 70px;
  padding: 230px 270px;
  font-family: var(--secondary-font);
  color: #2d2e3a;
  line-height: 1.2;
  font-weight: 600;
  position: relative;
}

.firstaCamera span {
  color: #30d89d;
}

.firstaCamera p {
  font-size: 40px;
  font-weight: 600;
  color: #2e2f3b;
}

.firstaCamera div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 140px;
  margin-right: 100px;
}

.firstaCamera img {
  width: 66px;
  height: 66px;
  margin-left: 8px;
}

.secondaCamera {
  width: 100%;
  padding: 0px 270px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-150px);
}

.seconda1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.seconda1 p:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  margin-top: 80px;
}

.seconda1 span {
  color: #30d89d;
}

.seconda1 p:nth-child(2) {
  font-size: 18px;
  color: #7a7a7f;
  font-weight: 600;
  margin-bottom: 40px;
}

.seconda3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}

.seconda3 p {
  font-size: 18px;
  color: #7a7a7f;
  font-weight: 600;
  margin-bottom: 40px;
}

.seconda2 img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -1%;
}

.seconda2 video {
  width: 400px;
  height: 645px;
  border-radius: 120px;
}

.seconda2 p {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  color: #408cd8;
  cursor: pointer;
}

.thirdaCamera {
  padding: 0px 270px;
}

.fourthaCamera {
  padding: 46px 270px;
  display: flex;
  justify-content: space-between;
}

.fourtha3 {
  font-size: 25px;
  font-weight: 600;
  padding-top: 80px;
}

.fourtha3 span {
  color: #30d89d;
}

.section-frame {
  background-color: white;
  height: 100vh;
  padding: 0px 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frameContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.frameText {
  text-align: left;
  width: 60%;
}

.frameText h4 {
  font-size: 24px;
  font-weight: 600;
}

.frameText h4 span {
  color: #d971af;
}

.frameText ul {
  margin-top: 34px;
  margin-left: 15%;
  list-style-type: none;
}

.frameText ul li {
  font-size: 19px;
  color: #d971af;
  font-weight: 600;
  line-height: 1.8;
}

.frameImg {
  width: 40%;
}
